{% extends "base.html" %}

{% block title %}Grades Of {{ student }}{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">Grades Of {{ student }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                    <tr>
                        <th scope="row">{{ grade.id }}</th>
                        <td>{{ grade.student }}</td>
                        <td>{{ grade.subject }}</td>
                        <td>{{ grade.grade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <div class="container mt-3">
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    NOTHING
                {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    NOTHING
                {% endif %}
            </ul>
        </nav>
    </div> -->
{% endblock content %}
