{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Class{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Add Class</button>
        </form>
    </div>
    <!-- <div class="container mt-3">
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    NOTHING
                {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    NOTHING
                {% endif %}
            </ul>
        </nav>
    </div> -->
{% endblock content %}
