{% extends "base.html" %}

{% block title %}All Classes{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">List Of Classes</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th scope="col">Class</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                    <tr>
                        <th scope="row">{{ class.id }}</th>
                        <td>{{ class.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
