{% extends "base.html" %}

{% block title %}All Students{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h3 class="text-center">List Of Students</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Full Name</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <th scope="row">{{ student.id }}</th>
                        <td>{{ student.username }}</td>
                        <td>{{ student.first_name }} {{ student.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
